<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h2>新增產品類別</h2>
    <form method="post" action="/catalogs/insdata">
        <p>
            <label>Catalog_Id:</label>
            <input type="text" name="Catalog_Id" />
        </p>
        <p>
            <label>Catalog_Name:</label>
            <input type="text" name="Catalog_Name"/>
        </p>
        <input type="submit" class="btn" value="確定" />
        <input type="Button" class="btn" value="取消" />
    </form>
</body>
</html>