<div class="container">
    <h1>
        <small>Django建置步驟</small>
    </h1>
    <ol type="1" start="1" align="left">
        <li>建立一個網站根目錄．例如Website</li>
        <li>進入網站根目錄，cd Website;django-admin.py startupproject mysite</li>
        <li>cd mysite;django-admin.py startapp MyBlog</li>
        <li>進入WebSite目錄然後下tree可看到網站的目錄結構</li>
        <li>進入網站應用程式（MyBlog）更改models.py</li>
        <li>python manage.py syncdb</li>
        <li>python manage.py runserver 127.0.0.1:8080</li>
        <li><a href="https://github.com/sculouis/esun-maintain/tree/master/myCloud" target="_blank">GitHub參考</a>
        </li>
    </ol>
</div>
