<!doctype html>
<html ng-app="App">

<head>
    <meta charset="utf-8" />
    <title>ng-grid</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/ng-grid.css" />
    <script type="text/javascript" src="/lib/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/lib/jquery-ui-1.9.1.custom.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="/lib/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/plugins/ng-grid-layout.js"></script>
    <script type="text/javascript" src="/build/ng-grid.debug.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>

<body ng-controller="IndexCtrl">
        <div class="container">
            <div class="masthead">
                <h1>
                    <small>創意空間</small>
                </h1>
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li class="active"><a href="/">Home</a>
                                </li>
                                <li><a href="" ng-click="pmain()" >產品資料</a>
                                </li>
                                <li><a href="" ng-click="todo()">待辦事項</a>
                                </li>
                                <li><a href="">檔案管理</a>
                                </li>
                                <li><a href="" ng-click="steps()">專案步驟</a>
                                </li>
                                <li><a href="/admin/">Admin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.navbar -->
            </div>
        </div>
        <div ng-view></div>
</body>

</html>
